@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
    --cor-principal: hsl(244, 59%, 64%);
    --cor-escura: #354b45;
    --cor-cinza: #98b0a9;
    --cor-lilas: hsl(234, 92%, 74%);
    --cor-preto: #000000;
    --cor-branco: #FFFFFF;
}

/* GERAL */
body {
    margin: 0;
    background: var(--cor-branco); /* AGORA TUDO É BRANCO */
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--cor-preto);
}

.titulo-secao {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* SOMENTE O TOPO LILÁS */
#topo {
    background: var(--cor-lilas);
    color: var(--cor-preto);
}

/* HABILIDADES */
.habilidades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.habilidade-item {
    background: var(--cor-escura);
    color: var(--cor-branco);
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 14px;
    font-weight: 600;
}

.habilidade-item:hover {
    background: var(--cor-principal);
}

/* PARTE BRANCA DOS PROJETOS */
#conteudo-branco {
    background: var(--cor-branco) !important;
    width: 100%;
    padding-top: 40px;
}

/* CARD */
.card img {
    border-bottom: 1px solid #eee;
}

/* RODAPÉ */
#rodape {
    background: var(--cor-escura);
    color: var(--cor-branco);
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
